{% extends "modelo.html" %}
{% block conteudo %}

<div class="space">
    <div class="img">
        <img src="{{ url_for('static', filename='images/fotoruda.jpg') }}" id="img" />
        <div>
            <h3>Rudá Carvalho</h3>
            <p>Aluno do 1° período na uniesp. Ainda não sabe qual área seguir, mas já descobriu-se como não simpatizante com toda e qualquer área de design.</p>

        </div>
    </div>
    <div class="img">
        <img src="{{ url_for('static', filename='images/fotowyllian.jpg') }}" id="img" />
        <div>
            <h3>Willyan Henrique</h3>
            <p>Aluno do 1° período na uniesp. Ainda não sabe a área que irá seguir, mas está animado pra estagiar. </p>
        </div>
    </div>
    <div class="img1">
        <img src="{{ url_for('static', filename='images/fotomatheus.jpg') }}" id="img" />
        <div>
            <h3>Matheus Ferreira</h3>
            <p>Aluno do 1° período na uniesp. Estudando TI para manter meu estilo de vida de acordar após 12:00 hrs. </p>
        </div>
    </div>
    <div class="img1">
        <img src="{{ url_for('static', filename='images/fotogabriel.jpg') }}" id="img" />
        <div>
            <h3>Carlos Gabriel</h3>
            <p>Aluno do 1° período na uniesp. Estudando TI para conseguir pagar meu primeiro rodízio de pizza.</p>
        </div>
    </div>
</div>
<style>
    .img{
    display:flex;
    width: 500px;

    }

    #img{
    width:150px;
    }

    .img1{
    display:flex;
    width:500px;

    #center{
        text align:center;
    }

</style>
{% endblock %}